<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Training">
            <file>tests/SetupTest.php</file>
            <file>tests/ClientServiceTest.php</file>
            <file>tests/CustomerServiceTest.php</file>
            <file>tests/CartServiceTest.php</file>
            <file>tests/ProductQueryServiceTest.php</file>
            <file>tests/CartDiscountServiceTest.php</file>
            <file>tests/OrderServiceTest.php</file>
            <file>tests/ProductSearchServiceTest.php</file>
            <file>tests/SubscriptionServiceTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
