{% extends "CommercetoolsTrainingBundle::layout.html.twig" %}

{% block container %}
    <h1>Success!</h1>

    <a href="{{ path('_ctp_training_index') }}"><button>Continue shopping</button></a>
{% endblock %}
